<include file="Public:header" />

<ul class="nav nav-pills sub-nav">
    <php>foreach($sections as $row){</php>
    <li><a href="{:U('/Forum/index',array('id'=>$row['id'] ))}" class="{$row['class']}">{$row.name}</a></li>
    <php>}</php>
</ul>



    <div class="box">
        <!--main begin-->
        <div class="main">
            <php>if(!empty($list)){</php>
                <php>foreach($list as $row){</php>
                    <div class="cell">
                        <div class="row">
                            <div class="col-md-12">
                               <span class="item_title">
                                   <a href="{:U('/Forum/topicDetail',array('id'=>$sectionid,'tid'=>$row['tid']))}">{$row['title']}</a>
                                </span>

                                <div class="row item_info">
                                    <div class="col-md-12">
                                        <span class="item_author"><a href="#">{$row['author']} </a></span>
                                        <span class="item_author">  •  {$row['friendlyDate']} </span>
                                        <span class="gray">  •  最后回复来自 {$row['lastposter']} </span>
                                        <span class="item_replies"> {$row['replies']} </span>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                <php>}</php>
            <php>}else{</php>
                       <div class="cell">
                        <div class="row">
                            <div class="col-md-12">
                        这里什么都没有，快来发帖吧！
                                </div>
                            </div>
                        </div>
            <php>}</php>
       </div>

</div>

<php>if($totalPages>1){</php>
    <div class="box bottom-page">
        {$page}
    </div>
<php>}</php>


<div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'> <img src="http://7xqfiw.com1.z0.glb.clouddn.com/iqi_23c1960929721a5ae514164a1dfe425a.jpg"/></div>



<include file="Public:footer" />