<include file="Public:header" />
<style>
    .sub-nav{font-size: 90%;background-color:#fff; border-bottom: 1px solid #e2e2e2}
    /**.sub-nav>li>a:focus,.sub-nav>li>a:hover{background:#B3ADE9;}*/

    </style>
<ul class="nav nav-pills sub-nav">
    <php>foreach($sections as $row){</php>
    <li><a href="{:U('/Forum/index',array('id'=>$row['id'] ))}">{$row.name}</a></li>
    <php>}</php>
</ul>



    <div class="box">
        <!--main begin-->
        <div class="main">

            <php>foreach($list as $row){</php>
                <div class="cell">
                    <div class="row">
                        <div class="col-md-12">
                           <span class="item_title">
                               <a href="{:U('/Forum/topicDetail',array('tid'=>$row['tid']))}">{$row['title']}</a> | 作者-{$row['author']} | 最后回复-{$row['author']}
                            </span>
                        </div>
                    </div>
                </div>
            <php>}</php>
       </div>

</div>



<div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'> <img src="http://7xqfiw.com1.z0.glb.clouddn.com/iqi_23c1960929721a5ae514164a1dfe425a.jpg"/></div>



<include file="Public:footer" />