<include file="Public:header" />

<!--引入wangEditor.css-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/editor/css/wangEditor.min.css">


    <!--man begin-->
    <div class="main">

        <form  action="javascript:doSubmit()" method="post" id="post-form">

            <div class="form-group movie-select">
                <label for="section">讨论类别</label>
                 <select name="sid" id="section">
                        <option value="1">技术讨论区</option>
                     <option value="2">电影资源</option>
                     <option value="3">封面杀手</option>
                 </select>
            </div>

            <div class="form-group">
                <label for="title">主题</label>
                <input type="text" name="title" class="form-control" id="title" placeholder="主题">
            </div>



            <textarea class="form-control" name="content" id="post-textarea" rows="20" >
            </textarea>

            <button type="submit" class="btn btn-default">发布</button>
        </form>

</div><!--main end-->




<!--引入jquery和wangEditor.js-->   <!--注意：javascript必须放在body最后，否则可能会出现问题-->
<script type="text/javascript" src="__PUBLIC__/editor/js/lib/jquery-1.10.2.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/editor/js/wangEditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/editor/js/lib/qiniu.js"></script>


<!--这里引用jquery和wangEditor.js-->
<script type="text/javascript">



    //初始化编辑器
    var editor = new wangEditor('post-textarea');

    //上传图片
    editor.config.uploadImgUrl = "{:U('/Forum/upload')}";
    editor.create();


    function doSubmit(){

        // 获取编辑器区域完整html代码
        var content = editor.$txt.html();
        var title = $("#title").val();
        var section = $("#section").val();

        console.log(content);
        $.ajax({
                type: "post",
                url: "{:U('Forum/doTopic')}",
                async:false,
                dataType:"json",
                data:"title=" + title + "&content=" + content+"&sid="+section,
                success:function (data) {
                   if(data.status>0){
                       window.location.href=data.url;
                   }else{
                       alert(data.info);
                   }
           }
       });
    }








</script>

<include file="Public:footer" />