<include file="Public:header" />
<link href="__PUBLIC__/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script>

    upload_url="{$upload_url}";
    public_upload_path="{$public_upload_path}";
    console.log(upload_url);
    console.log("public_upload_path:"+public_upload_path);

</script>

<script type="text/javascript" charset="utf-8" src="__PUBLIC__/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/umeditor/lang/zh-cn/zh-cn.js"></script>




    <!--man begin-->
    <div class="main">

        <form  action="javascript:doSubmit()" method="post" id="post-form">

            <div class="container">
                <div class="form-group movie-select">
                    <label for="section">讨论类别</label>
                    <select name="sid" id="section">
                        <option value="1">技术讨论区</option>
                        <option value="2">电影资源</option>
                        <option value="3">封面杀手</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="title">主题</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="主题">
                </div>

            <!--style给定宽度可以影响编辑器的最终宽度-->
            <script type="text/plain" id="post-textarea"style="width:100%;"> </script>

                <button type="submit" class="btn btn-default">发布</button>
            </div>


        </form>

</div><!--main end-->




<script type="text/javascript">



    //实例化编辑器
       var um = UM.getEditor('post-textarea',{initialFrameWidth: "100%"});

       function doSubmit(){
           var param = $("#post-form").serialize();
           $content_html = um.getContent();
           $.ajax({
                       type:"post",
                       url:"{:U('Forum/doTopic')}",
                   async:false,
                   dataType:"json",
                   data:param,
                   success:function(data){

                       if(data.status>0){
                           location.href=data.url;
                       }else{
                           alert(data.info);
                       }
                 }
            });
       }




</script>

<include file="Public:footer" />