<include file="Public:header" />
<style>
    .sub-nav{font-size: 90%;background-color:#fff;border-bottom: 1px solid #e2e2e2}
    .topic-head{padding:0 0 10px 10px;}
    .topic-content{padding:10px 30px;border-radius:4px;}
    </style>
<ul class="nav nav-pills sub-nav">
    <php>foreach($sections as $row){</php>
    <li><a href="{:U('/Forum/index',array('id'=>$row['id'] ))}">{$row.name}</a></li>
    <php>}</php>
</ul>



<div class="box">

    <!--man begin-->
    <div class="main">

            <div class="topic-head">
                <h2>{$topic.title}</h2>
            </div>
            <div class="row" >
                    <div class="topic-content">
                        {$firstPost.content}
                    </div>
            </div>
     </div>
</div>






<include file="Public:footer" />