<include file="Public:header" />
<style>

    </style>
<ul class="nav nav-pills sub-nav">
    <php>foreach($sections as $row){</php>
    <li><a href="{:U('/Forum/index',array('id'=>$row['id']))}" class="{$row['class']}">{$row.name}</a></li>
    <php>}</php>
</ul>




<div class="forum-main">  <!--main begin-->
       <div class="box box-content">

            <div class="topic-head">
                <h1>{$topic.title}</h1>
                <small class="gray">
                    {$topic.author} | {$topic.friendlyTime}
                </small>
            </div>

            <div class="row" >
                    <div class="topic-content">
                        {$firstPost.content}
                    </div>
            </div>
       </div>

    <div class="step20"></div>
    <div class="box  box-content">

           <div class="cell replayCount">
                <div class="FL" style="margin: -3px -5px 0px 0px;">
                   <span class="gray">{$replyCount} 回复</span>
                </div>
           </div>

        <php>foreach($allPosts as $key=>$post ){</php>
           <div class="cell">

                    <div class="class" id="p_{$post['pid']}">
                        <span class="gray">{$post.friendlyTime}</span>
                        <span class="gray">{$post.author}</span>
                        <span class="gray">{$key+1}楼</span>
                        <div class="replay-content">{$post.content}</div>
                    </div>

          </div>
        <php>}</php>
    </div>

    <div class="step20"></div>
    <div class="box  box-content">
        <div class="cell">添加回复</div>

        <div class="cell">
        <form action="javascript:doReply()" method="post">
            <textarea name="replay" id="replay" class="topic-replay"></textarea>
            <div class="step20"></div>
            <div class="FR"><span class="gray">请尽量回复充满智慧的东西</span></div>
            <button  type="submit" class="btn btn-default">回复</button>
        </form>
        </div>
    </div>
</div>



<script>

    function doReply(){

        var replay = $("#replay").val();
        $.ajax({
            type: "post",
            url: "{:U('Forum/doReply')}",
            async:false,
            dataType:"json",
            data:"replay=" + replay+"&tid="+"{$topic.tid}&id="+"{$sectionid}",
            success:function (data) {
                if(data.status>0){
                    location.href=data.url;
                }else{
                    alert(data.info);
                }
            }
        });
    }

</script>


<include file="Public:footer" />