
</div><!--container-fluid end-->
</div>
<!--wrapper end-->

<footer class="my-footer">
    <div class="container">

        网站采用 <a target="_blank" href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>
        开源协议 ，转载请注明出处。
        <a href="{:U('/Index/about')}">关于本站</a></p>
        <p>©2016 爱骑兵 Powered by Engine | 联系邮箱：pizidago@gmail.com</p>
    </div>

</footer>

<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0" charset="utf-8"></script>
<!-- JiaThis Button END -->


</body>
</html>