<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>爱骑兵|提供电影、电视剧等影视资源</title>
    <link rel="shortcut icon" href="__PUBLIC__/data/common/favicon.ico"/>

    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/zeroclipboard/ZeroClipboard.min.js"></script>

    <style>

    </style>
</head>
<body>

<header>

    <ul class="nav nav-pills">
        <li><a href="{:U('Index/index')}">豆瓣电影Top250</a></li>
        <li><a href="{:U('Forum/index',array('id'=>1))}">讨论区</a></li>
        <li><a href="{:U('Index/watchway')}">观看</a></li>
        <li><a href="{:U('Forum/post')}">发帖</a></li>
        <?php if( $user ){ ?>
        <li class="fR"><a href="{:U('Index/logout')}">退出</a></li>
        <li class="fR"><a href="{:U('UserDetail/index',array('uid'=>$user['uid']))}">{$user.username}</a></li>

        <?php }else{ ?>
        <li class="fR"><a href="{:U('Passport/register/')}">注册</a></li>
        <li class="fR"><a href="{:U('Passport/login')}">登录</a></li>
        <?php } ?>
    </ul>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?8dbe51582c3ddcecea14e7055c31f0b5";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>


</header>


<!--wrapper begin-->
<div class="wrapper">

    <!--container-fluid begin-->
    <div class="container">


