<include file="Public:header" />

<!--container-fluid begin-->
<div class="container">

    <div class="panel panel-info">
        <div class="panel-heading">关于iqbing.com</div>
        <div class="panel-body">
            <p>爱骑兵网站致力于为用户提供可靠的互联网资源,包括并不限于电影资源，电视剧资源，影视信息，BT种子，磁力链接等</p>
            <p>本站采用创作共用版权协议, 要求署名、非商业用途和相同方式共享. 转载本站内容必须也遵循“署名-非商业用途-相同方式共享”的创作共用协议.</p>
            <p>本站所有资源均共享自互联网，如果侵害了你的权益，请联系管理员删除。</p>
            <p>不得发布广告、暴力、色情以及敏感政治内容，一经查实，永久封号。</p>
        </div>
    </div>


</div>
<!--container-fluid end-->

<script>

    ZeroClipboard.config({
        swfPath: "__PUBLIC__/zeroclipboard/ZeroClipboard.swf"
    });

    //初始化
    var client = new ZeroClipboard( $(".js-copy-magnet") );

    client.on( "ready", function( readyEvent ) {
            console.log(readyEvent);
            client.on( "copy", function( event ) {
                var clipboard = event.clipboardData;
                clipboard.setData("text/plain",event.target.dataset.copy); //copy
            } );
    } );

</script>

<include file="Public:footer" />
