<include file="Public:header" />

<!--container-fluid begin-->
<div class="container-fluid main-content">

    <div class="panel panel-info">
        <div class="panel-heading">关于iqbing.com</div>
        <div class="panel-body">
            朋友说豆瓣上的电影找不到资源，因此做了一个提供豆瓣电影播放资源的网站
            <p>本站资源来自于互联网，如果侵害了你的权益，请联系管理员删除。</p>
            <p>本站采用创作共用版权协议, 要求署名、非商业用途和相同方式共享. 转载本站内容必须也遵循“署名-非商业用途-相同方式共享”的创作共用协议.</p>
        </div>
    </div>


</div>
<!--container-fluid end-->

<script>

    ZeroClipboard.config({
        swfPath: "__PUBLIC__/zeroclipboard/ZeroClipboard.swf"
    });

    //初始化
    var client = new ZeroClipboard( $(".js-copy-magnet") );

    client.on( "ready", function( readyEvent ) {
            console.log(readyEvent);
            client.on( "copy", function( event ) {
                var clipboard = event.clipboardData;
                clipboard.setData("text/plain",event.target.dataset.copy); //copy
            } );
    } );

</script>

<include file="Public:footer" />
