<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title></title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/zeroclipboard/ZeroClipboard.min.js"></script>

    <style>
        header{margin-top:0px;border:solid 1px #ddd;}
        .main-content{padding:15px;margin:0 auto;
        border:#ddd 1px;}
        .movie-info{margin-bottom:10px;}
        .movie-data,.movie-rank{border:solid #ddd 1px;overflow:hidden;}
        .movie-data{width:60%;float:left;padding:5px;}
        .movie-rank{padding:5px;}

        .poster{float:left;margin-right:5%;}
    </style>
</head>
<body>

<header>
    <ul class="nav nav-pills">
        <li><a href="#">豆瓣电影Top250</a></li>
        <li><a href="#">福利后续...</a></li>
        <li><a href="#">观看方式</a></li>
    </ul>
</header>


<!--container-fluid begin-->
<div class="container-fluid main-content">


    <!--loop begin-->
    <php> foreach($list as $row){ </php>
            <div class="row movie-info">
                <div class="col-md-12">
                    <div class="clearfix">
                        <img class="poster" src="{$row.img}" alt="{$row.title}"/>



                        <div class="movie-data">
                            <div class="movie-rank">
                                <h2>{$row.rank}</h2>
                                <p>{$row.quote}</p>
                            </div>

                            <h4>{$row.title}</h4>
                            <h5>{$row.en_title}</h5>
                            <h5>{$row.other_title}</h5>
                            <a href="{$row.magnet}" class="btn btn-primary">启动磁力</a>
                            <button data-copy="{$row.magnet}" class="btn btn-success js-copy-magnet">复制连接</button>

                        </div>
                       </div>
                </div>

            </div>
    <php> }</php>
    <!--loop end-->

</div>

<script>

    ZeroClipboard.config({
        swfPath: "__PUBLIC__/zeroclipboard/ZeroClipboard.swf"
    });

    //初始化
    var client = new ZeroClipboard( $(".js-copy-magnet") );

    client.on( "ready", function( readyEvent ) {
            console.log(readyEvent);
            client.on( "copy", function( event ) {
                var clipboard = event.clipboardData;
                clipboard.setData("text/plain",event.target.dataset.copy); //copy
            } );
    } );

</script>


</body>
</html>