<include file="Public:header" />

<!--container-fluid begin-->
<div class="container-fluid main-content">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">第一步：获取磁力连接</h3>
        </div>
        <div class="panel-body">
            <p>复制链接</p>
            <img class="img-responsive center-block" alt="肖申克的救赎" src="http://7xqfiw.com1.z0.glb.clouddn.com/iqi_92245CDC-D3CD-4054-AC04-79A0A3A7D549.png"/>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">第二步：将链接添加到网盘</h3>
        </div>
        <div class="panel-body">
            链接可以添加到以下网盘：
            <a href="http://yun.baidu.com/">百度云</a>或<a href="http://115.com/">115网盘</a>
            <p><h3>百度云观看</h3>我们先打开百度云，注册登录就略过了。（这个都不会，那你给我发个红包，我手把手教你...）</p>

            <p class="bg-info step-title">step1：点击网盘</p>
            <img class="img-responsive center-block" alt="百度云" src="http://7xqfiw.com1.z0.glb.clouddn.com/iqi_4F5DBE1C-CF88-4E92-9150-C0FB78FAC027.png"/>
            <p class="bg-info step-title">step2：点击离线下载</p>
            <img class="img-responsive center-block" src="http://7xqfiw.com1.z0.glb.clouddn.com/iqi_C41DED38-7426-4813-B788-6E58C02574A0.png"/>
            <p class="bg-info step-title">step3：点击新建链接任务</p>
            <img class="img-responsive center-block" src="http://7xqfiw.com1.z0.glb.clouddn.com/iqi_71E162C5-6F8D-4684-B8E3-F582507DF9DE.png"/>
            <p class="bg-info step-title">step4：将在第一步复制的链接添加在此处 </p>
            <img class="img-responsive center-block" src="http://7xqfiw.com1.z0.glb.clouddn.com/iqi_79D470A7-CA42-4FA1-8FEC-7C49AE680317.png"/>
            <p class="bg-info step-title">step5: 点击开始下载 </p>
            <img class="img-responsive center-block" src="http://7xqfiw.com1.z0.glb.clouddn.com/iqi_62E3C147-7E91-48DA-8FA7-682409131F22.png"/>
            <p class="bg-info step-title">step6: 点击播放 </p>
            <img class="img-responsive center-block" src="http://7xqfiw.com1.z0.glb.clouddn.com/iqi_69294A2B-6784-4B70-8BAD-328B35276563.png"/>
            <p class="bg-info step-title">step6：高清五码之"要么忙着活，要么忙着死" </p>
            <img class="img-responsive center-block" src="http://7xqfiw.com1.z0.glb.clouddn.com/iqi_49BB4AC1-617C-4268-A78E-F6E1679D978B.png"/>
        </div>

    </div>

</div>
<!--container-fluid end-->

<script>

    ZeroClipboard.config({
        swfPath: "__PUBLIC__/zeroclipboard/ZeroClipboard.swf"
    });

    //初始化
    var client = new ZeroClipboard( $(".js-copy-magnet") );

    client.on( "ready", function( readyEvent ) {
            console.log(readyEvent);
            client.on( "copy", function( event ) {
                var clipboard = event.clipboardData;
                clipboard.setData("text/plain",event.target.dataset.copy); //copy
            } );
    } );

</script>
<include file="Public:footer" />
